/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*#region custom code ################################################## */

/*#region Site Defaults */

html {
    font-size: 16px;
}

body {
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", -apple-system, BlinkMacSystemFont;
}

.main-wrapper {
    padding: 0.5em 0.5em 0 0.5em;
}

    .main-wrapper h1 {
        font-weight: 600;
        font-family: "Segoe UI", Roboto, "Helvetica", Arial, sans-serif;
        /*color: #82143c;*/
    }

.main-panel::before {
    z-index: 0;
    content: "";
    background: -webkit-gradient(linear,left top,left bottom,from(#c374ff),color-stop(90%,#faf9fd));
    background: linear-gradient(180deg,#c374ff 0%,#faf9fd 90%);
    height: 140%;
    width: 100%;
}



a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

h1.display-4 {
    font-size: 24px;
}

.jumbo h1.display-1 {
    font-size: 40px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 17px;
}

p {
    font-size: 1rem;
}

.text-wrap {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
    hyphens: auto;
}

.card-deck {
    padding-top: 2em;
}

/*#endregion Site Defaults*/
/*.introduction h1 {
    font-weight: 400;
    font-size: 1.1em;
    text-transform: capitalize;
}

.introduction h2 {
    font-weight: 400;
    font-size: 1.1em;
}

    .introduction h3 span, .introduction h2 span, .introduction h3 span {
        font-weight: 600;
        color: #047b1b;
    }


.introduction .span-bold {
    font-weight: 500;
    font-weight: bolder;
    color: red;
}*/
/*#region Navbar */
.navbar .container {
    font-size: 18px;
    font-weight: 300;
}

.nav-height {
    min-height: 100px;
    padding-top: 15px;
}

.navbar-brand, .nav-link {
    font-size: 18px;
}

.nav-height-shrink {
    min-height: 50px;
    padding: -15px;
    transition: all 0.5s ease;
}

.navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
    font-size: 17px !important;
    color: #ecf0f1;
    font-weight: 300;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

.nav .navbar-toggler-shrink {
    margin-right: 1.5rem;
    padding: 0.2rem;
}

/*.navbar.bg-our-color {
    background-color: #820578;
}*/

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

li.nav-item {
    padding-bottom: 5px;
}

/*#endregion Navbar */

/*#region Header carousel */

.carousel-caption p {
    display: block;
}

.carousel .carousel-item {
    height: 690px;
}

.carousel-item a {
    color: #fce10b;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    /*top: 0;*/
    left: 0;
    min-height: 690px;
}

/*#endregion Header Carousel*/

/*#region feature-set1 */

#feature-set1 {
    /*background: linear-gradient( rgb(96,96,96) ),url(../images/banner03-360x429.jpg) no-repeat;*/
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/banner03-360x429.jpg) no-repeat;
    /*background: url(../images/banner03-360x429.jpg) no-repeat;*/
    background-size: cover;
    background-attachment: fixed;
    color: #ddd;
    padding: 80px 0;
    /*opacity: 8;*/
}

    #feature-set1:hover {
        /*fallback - background for browsers that doesn't support rgba*/
        background: linear-gradient( rgb(96,96,96) ), url(../images/banner03-360x429.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../images/banner03-360x429.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #feature-set1 .card {
        background: transparent;
    }

/*#endregion feature-set1*/

/*#region custom footer */

.footer-wrapper {
    padding: 6em 0 2em 0;
    background-color: #023d9a;
}

.footer .contact-info, .footer .footer-other-links {
    color: white;
    padding: 0.5rem;
}

.footer a {
    text-decoration: none;
    color: white;
}

.footer ol, .footer ul {
    list-style: none;
    padding: 5px;
    margin: 1px;
    color: white;
}

    .footer ol svg, .footer ul svg {
        margin-right: .5em;
        color: #09c4de;
    }

.footer .privacy {
    text-align: center;
    color: white;
    padding: 3em 0 2em 0;
}

.back-to-top {
    position: fixed;
    bottom: 0;
    right: 10px;
    padding: 5px 10px;
    display: none;
    z-index: 2;
    background-color: black;
    color: #09c4de;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}

    .back-to-top.btn-dark, .scroll-to-top.btn-dark {
        border-color: #09c4de
    }

.scroll-to-top {
    color: #09c4de;
    -webkit-animation: bounce 5s ease infinite;
    -moz-animation: bounce 5s ease infinite;
    animation: bounce 5s ease infinite;
}

.microdata-info {
    display: none;
}
/*#endregion custom footer*/

/*#region Services */

/*#region service1 */

#service1 {
    padding-top: 1em;
}

    #service1 .row {
        padding-top: 1em;
        padding-bottom: 5em;
        margin-right: -8px;
        margin-left: -8px;
    }

.service-grid1 {
    padding: 0.1em 0 0.1em 0;
}

.motion-picture1 {
    /*padding-left:5px*/
    text-align: center;
    padding-top: 5em;
    animation: fadeInTopRight 2s ease;
}
/*#endregion service1*/

/*#region service2 */
/*#endregion service2*/
/*#endregion Services*/

/*#region service-features */

.service-features .row {
    margin-right: 0;
    margin-left: 0;
}

    .service-features .row .card {
        border: 0;
    }

.service-features img {
    padding: 5em;
}

/*#endregion service-features*/



/*#region Order */
.order {
    background: #fefefd;
    padding-top: 60px;
}

    .order .titlepage p {
        color: #4c4b4b;
        padding-top: 10px;
    }

.order-box_main {
    margin-bottom: 30px;
}

.order-box {
    border: #1ee1d6 solid 3px;
    background: #fff;
    margin-bottom: 40px;
    transition: ease-in all 0.5s;
    padding: 40px 10px;
    cursor: pointer;
}

    .order-box h3 {
        color: #2e3192;
        font-size: 20px;
        line-height: 20px;
        font-weight: 500;
        text-transform: uppercase;
        padding-bottom: 15px;
        transition: ease-in all 0.5s;
    }

    .order-box p {
        padding-top: 9px;
        color: #252626;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }

        .order-box p span {
            font-size: 44px;
            line-height: 44px;
            font-weight: bold;
            padding: 0 15px;
        }

    .order-box a {
        border: #7381b1 solid 1px;
        padding: 6px 20px;
        margin: 0 auto;
        border-radius: 30px;
        color: #464647;
        transition: ease-in all 0.5s;
    }

        .order-box a:hover {
            background-color: #2e3192;
            color: #fff;
            transition: ease-in all 0.5s;
        }

ul.supp li {
    font-size: 17px;
    color: #464647;
    line-height: 23px;
    padding-top: 21px;
}

.order-box_main .read_more {
    margin: 0 auto;
    display: block;
}

.ho_co:hover .order-box h3 {
    color: #43eee4;
    transition: ease-in all 0.5s;
}

.ho_co:hover .order-box {
    border: #2e3192 solid 3px;
    transition: ease-in all 0.5s;
}

.ho_co:hover .read_more {
    background-color: #2e3192;
    transition: ease-in all 0.5s;
}


/*#endregion Order*/

/*#region misc */

.section-divider {
    padding-top: 2em;
    padding-bottom: 2em;
}

/*#endregion misc*/

/*#region misc */

/*#endregion misc*/

@media (min-width: 320px) {
    /*#region carousel */
    .carousel .carousel-item {
        height: 530px;
    }

    .carousel-item img {
        min-height: 530px;
    }

    /*#endregion carousel */
}

@media (min-width: 460px) {
    /*#region carousel */

    .carousel .carousel-item {
        height: 500px;
    }

    .carousel-item img {
        min-height: 500px;
    }

    /*#endregion carousel */
}

@media (min-width: 576px) {

    /*#region Site Defaults */

    html {
        font-size: 17px;
    }

    h1.display-4 {
        font-size: 40px;
    }

    .jumbo h1.display-1 {
        font-size: 45px;
    }

    h1 {
        font-size: 27px;
    }

    h2 {
        font-size: 23px;
    }

    h3 {
        font-size: 21px;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 17px;
    }

    .card-deck {
        margin-right: 0;
        margin-left: 0;
    }

    /*#endregion Site Defaults  */

    /*#region Navbar */

    .navbar .container {
        font-size: 20px;
    }

    .navbar-brand, .nav-link {
        font-size: 20px;
    }

    .nav-height-shrink {
        min-height: 55px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 18px !important;
        font-weight: 400;
    }

    /*#endregion Navbar */

    /*#region Carousel */

    .carousel-caption p {
        display: block;
    }

    .carousel .carousel-item {
        height: 440px;
    }

    .carousel-item img {
        /*position: absolute;
        object-fit: cover;
        left: 0;*/
        min-height: 440px;
    }

    /*#endregion Carousel*/

    /*#region Feature-set1 */

    #feature-set1 {
        /*background: url(../images/banner03-576x687.jpg) no-repeat;*/
        background: linear-gradient( rgb(96,96,96) ),url(../images/banner03-576x687.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/banner03-576x687.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #ddd;
        padding: 80px 0;
    }

        #feature-set1:hover {
            /*fallback - background for browsers that doesn't support rgba*/
            background: linear-gradient( rgb(96,96,96) ), url(../images/banner03-576x687.jpg) no-repeat;
            background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../images/banner03-576x687.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

    /*#endregion feature-sert1*/

    /*#region Services */

    /*#region service1 */

    #service1 {
        padding: 1em;
    }

        #service1 .row {
            padding-bottom: 5em;
        }

    /*.service-grid1 {
        padding: 5em 0 5em 0;
    }*/

    .motion-picture1 {
        padding-left: 5px;
        animation: fadeInTopRight 2s ease;
    }

    /*#endregion service1*/

    /*#region service2 */



    /*#endregion service2*/

    /*#endregion Services*/

    /*#region service-packages */

    .service-packages .card-deck .card {
        min-width: 33%;
        margin-bottom: 1em;
    }

    /*#endregion service-packages*/

    /*#region service-features */

    .service-features .card {
        min-width: 32%;
        margin-bottom: 1em;
    }


    /*#endregion service-features*/

    /*#region custom footer */

    /*#endregion custom footer */
}

@media (min-width: 768px) {

    /*#region Site Defaults */

    html {
        font-size: 18px;
    }

    /*.main-wrapper {
        padding: 0.5em 1.5em 0 1.5em;
    }*/

    .jumbo h1.display-1 {
        font-size: 60px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    p {
        font-size: 18px;
    }

    /*#endregion Site Defaults */

    /*#region Navbar */

    .navbar .container, .navbar-brand, .nav-link {
        font-size: 21px;
        font-weight: 500;
    }

    .nav-height-shrink {
        min-height: 57px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 19px !important;
        font-weight: 400;
    }

    /*#endregion */

    /*#region Carousel */

    .carousel h1.display-4 {
        font-size: 40px;
    }

    /*#endregion Carousel */

    /*#region Feature-set1 */

    #feature-set1 {
        /*background: url(../images/banner03.jpg) no-repeat;*/
        background: linear-gradient( rgb(96,96,96) ),url(../images/banner03.jpg) no-repeat;
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/banner03.jpg) no-repeat;
        background-size: cover;
        background-attachment: fixed;
        color: #ddd;
        padding: 80px 0;
    }

        #feature-set1:hover {
            /*fallback - background for browsers that doesn't support rgba*/
            background: linear-gradient( rgb(96,96,96) ), url(../images/banner03.jpg) no-repeat;
            background: linear-gradient( rgba(0, 0, 1, 0.5), black ), url(../images/banner03.jpg) no-repeat;
            background-size: cover;
            background-attachment: fixed;
        }

    /*#endregion Feature-set1 */

    /*#region Services */

    /*#region service1 */



    /*#endregion service1*/

    /*#region service2 */



    /*#endregion service2*/

    /*#endregion Services*/

    /*#region service-packages */

    /* .service-packages .card-deck .card {
        min-width:33%;
        margin-bottom:1em;
    }*/

    /*#endregion service-packages*/

    /*#region service-features */
    
    .service-features img {
        padding: 1em;
    }
    
    /*#endregion service-features*/
    /*#region custom footer */
    .footer-wrapper {
        padding: 3em 1.5em 2em 1.5em;
    }

    .container.footer {
        min-width: 90vw;
    }

    /*#endregion custom footer */

}

@media (min-width: 992px) {

    /*#region Site Defaults */

    html {
        font-size: 19px;
    }

    .main-wrapper {
        padding: 0;
    }

    .main-panel {
        padding: 0;
    }

    .footer-wrapper {
        padding: 3em 2em 2em 2em;
    }

    .jumbo h1.display-1 {
        font-size: 70px;
    }

    h1.display-4 {
        font-size: 3.5rem;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 22px;
    }

    p {
        font-size: 20px;
    }


    /*#endregion Site Defaults */

    /*#region Navbar */

    .navbar .container, .navbar-brand, .nav-link {
        font-size: 22px;
    }

    .nav-height-shrink {
        min-height: 60px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 20px !important;
    }

    /*#endregion Navbar */

    /*#region Carousel */

    /*#endregion Carousel */

    /*#region Feature-set1 */

    /*#endregion Feature-set1 */

    /*#region Services */

    /*#region service-features */

    .service-features img {
        padding: 0.1em;
    }

    /*#endregion service-features*/

    /*#region service1 */



    /*#endregion service1*/

    /*#region service2 */



    /*#endregion service2*/

    /*#endregion Services*/

    /*#region custom footer */

    /*#endregion custom footer */

}

@media (min-width: 1200px) {

    /*#region Site Defaults */

    html {
        font-size: 20px;
    }

    /*.main-wrapper {
        padding: 0.5em 2.5em 0 2.5em;
    }*/

    .jumbo h1.display-1 {
        font-size: 90px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    /*#endregion Site Defaults */

    /*#region navbar */

    .navbar .container, .navbar-brand, .nav-link {
        font-size: 23px;
    }

    .nav-height-shrink {
        min-height: 62px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 21px !important;
    }

    /*#endregion navbar*/

    /*#region Carousel */

    /*#endregion Carousel */

    /*#region Feature-set1 */

    /*#endregion Feature-set1 */

    /*#region Services */

    /*#region service1 */



    /*#endregion service1*/

    /*#region service2 */



    /*#endregion service2*/

    /*#endregion Services*/

    /*#region service-packages */

    .service-packages .card-deck .card {
        min-width: 22%;
    }

    /*#endregion service-packages*/



    /*#region custom footer */

    .footer-wrapper {
        padding: 3em 2.5em 2em 2.5em;
    }


    /*#endregion custom footer */

    /*#region misc */

    .section-divider {
        padding-top: 2em;
        padding-bottom: 2em;
    }

    /*#endregion misc*/
}

@media (min-width: 1980px) {

    /*#region Site Defaults */

    html {
        font-size: 21px;
    }

    /*.main-wrapper {
        padding: 0.5em 3em 0 3em;
    }*/

    .container-fluid {
        padding: 2px 50px 2px 50px;
    }

    p {
        font-size: 21px;
    }

    /*#endregion Site Defaults */

    /*#region navbar */

    .navbar .container, .navbar-brand, .nav-link {
        font-size: 24px;
    }

    .nav-height-shrink {
        min-height: 64px;
    }

    .navbar-brand-shrink, .nav-link-shrink, .navbar-toggler-shrink {
        font-size: 22px !important;
    }

    /*#endregion navbar*/

    /*#region Carousel */

    /*#endregion Carousel */

    /*#region Feature-set1 */

    /*#endregion Feature-set1 */

    /*#region Services */

    /*#region service1 */



    /*#endregion service1*/

    /*#region service2 */



    /*#endregion service2*/

    /*#endregion Services*/

    /*#region custom footer */

    .footer-wrapper {
        padding: 3em 3em 2em 3em;
        /*padding: 0.5em 3em 0 3em;*/
    }

    .container.footer {
        min-width: 1780px;
    }
    /*#endregion custom footer */
}

/*#endregion */
