

    <div class="design-test-guide text-center">
        The  Current screen width :&nbsp;<span class="screen-width"> </span> &nbsp; X height :&nbsp; <span class="screen-height"></span> .&nbsp;
        The  Current viewport width :&nbsp;<span class="viewport-width"> </span> &nbsp; X height :&nbsp; <span class="viewport-height"></span> .&nbsp; 
        This line is for development stage only, must be removed on production site.
    </div>
