
<ul class="navbar-nav flex-grow-1 ">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-page="/Index"><i class="fas fa-home"></i>Home</a>
    </li>
    <!-- Level one dropdown -->
    <li class="nav-item dropdown">
        <a id="navbarDropdown1" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services</a>
        <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown1">
            <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Features/SoftwareDev">Software Development</a></li>
            <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Features/index">Web Site Development</a></li>
            <li class="dropdown-divider"></li>

            <!-- Level two dropdown-->
            <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Web Solutions <i class="fas fa-caret-right"></i></a>
                <ul class="dropdown-menu shadow" aria-labelledby="navbarDropdown2">
                    <li class="nav-item"><a class="dropdown-item" tabindex="-1" asp-area="" asp-page="/Features/WebApps">Web Applications Development</a></li>
                    <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Features/WebHosting">Web Hosting Solutions</a></li>
                    <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Features/WebDesign">Web Design</a></li>
                    <!-- Level three dropdown-->
                    <li class="dropdown-submenu">
                        <a id="dropdownMenu3" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-item dropdown-toggle">level 2 <i class="fas fa-caret-right"></i></a>
                        <ul aria-labelledby="dropdownMenu3" class="dropdown-menu border-0 shadow">
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                            <li><a href="#" class="dropdown-item">3rd level</a></li>
                        </ul>
                    </li>
                    <!-- End Level three -->
                </ul>
            </li>

        </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown9" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <ul class="dropdown-menu border-0 shadow" aria-labelledby="navbarDropdown9">
            <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/About">About</a> </li>
            <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Privacy">Privacy</a></li>
            <li class="nav-item"><a class="dropdown-item" asp-area="" asp-page="/Terms">Terms and Conditions</a></li>
        </ul>

    </li>

</ul>