
<section id="home-banner-box" class="home-banner loading">
    <div class="container video-slide-top-bar">
        <div class="text-center">
            <h1 class="display-4">Welcome</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>
    </div>
    <div class="image video-slide" style="background-image: url($ImageURL)">
        <div class="video-background">
            <div class="video-foreground" id="YouTubeBackgroundVideoPlayer">
            </div>
        </div>
    </div>
    <div class="video-slide-bottom-bar">

        <div class="container">
            <div class="section-intro mb-lg-4">
                <h4 class="intro-title">Video Background</h4>
                <h2>Run a Video in the background</h2>
            </div>
            <p>And show some information like this.  </p>
            <a class="button button-shadow mt-2 mt-lg-4" href="#">Learn More</a>
        </div>
    </div>
</section>
